@using PasajesCurso.Models
@model List<ClienteCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Listado Clientes</h2>

@Html.ActionLink("Nuevo Cliente", "Agregar", "Cliente", null, new { @class="btn btn-primary"})
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p=>Model[0].iidCliente)</td>
            <td>@Html.LabelFor(p=>Model[1].nombre)</td>
            <td>@Html.LabelFor(p=>Model[2].apPaterno)</td>
            <td>@Html.LabelFor(p=>Model[3].apMaterno)</td>
            <td>@Html.LabelFor(p=>Model[4].telefonoFijo)</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.iidCliente</td>
                <td>@item.nombre</td>
                <td>@item.apPaterno</td>
                <td>@item.apMaterno</td>
                <td>@item.telefonoFijo</td>
            </tr>
        }
    </tbody>
</table>

