@using PasajesCurso.Models
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Marca</h2>

@Html.ActionLink("Agregar", "Agregar", "Marca", null, new { @class="btn btn-primary"})
<p></p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidMarca)</td>
            <td>@Html.LabelFor(p => Model[1].nombre)</td>
            <td>@Html.LabelFor(p => Model[2].descripcion)</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.iidMarca</td>
                <td>@item.nombre</td>
                <td>@item.descripcion</td>
                <td class="row">
                    @Html.ActionLink(" ", "Editar", "Marca", new { id=@item.iidMarca}, new { @class="glyphicon glyphicon-edit btn btn-rimary"})
                    @Html.ActionLink(" ", "EliminarMarca", "Marca", new { id=@item.iidMarca}, new { @class="glyphicon glyphicon-trash btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>