@using PasajesCurso.Models
@model List<EmpleadoCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>
@Html.ActionLink("Agregar", "AddEmpleado", "Empleado", null, new { @class = "btn btn-primary" })
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidEmpleado)</td>
            <td>@Html.LabelFor(p => Model[1].nombre)</td>
            <td>@Html.LabelFor(p => Model[2].apPaterno)</td>
            <td>@Html.LabelFor(p => Model[1].nombreTipoUsuario)</td>
            <td>@Html.LabelFor(p => Model[3].nombreTipoContrato)</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iidEmpleado</td>
                <td>@item.nombre</td>
                <td>@item.apPaterno</td>
                <td>@item.nombreTipoUsuario</td>
                <td>@item.nombreTipoContrato</td>
            </tr>
        }
    </tbody>
</table>
